h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
}

.content h2 {
    margin: 10px;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
}

